.headerfix
  height auto!important
  line-height 1!important
  padding 5px 0px!important

.logo
  height 95px

#company_card
  margin-bottom 30px

.bottomfeeder
  position absolute
  bottom 20px
  width 84%
