h1, h2, h3, h4, h5, h6
	color #000000

h1, .alpha
	set-font-size 26px
	margin 10px 0 22px
	font-weight 400

	@media $md-up
		set-font-size 32px

h2, .beta
	set-font-size 24px
	margin 10px 0 22px
	font-weight bold
	color rgba(78, 78, 78, 0.7)

	@media $md-up
		set-font-size 24px

h3, .gamma
	set-font-size 20px
	margin 10px 0 22px
	font-weight 400

	@media $md-up
		set-font-size 20px

h4, .delta
	set-font-size 18px
	margin 10px 0 22px
	font-weight 400

	@media $md-up
		set-font-size 18px

.omega
	font-size 20px
	font-weight bold
	font-style normal
	font-stretch normal
	color #4e4e4e
	margin 10px 0 15px

.with-separator
	padding-bottom 15px
	border-bottom 1px solid #dddddd

.text--center
	text-align center

.text--right
	text-align right