.reset--padding
  padding 0 !important

.reset--margin
  margin 0 !important

.reset--margin-top
  margin-top 0 !important

.reset--margin-bottom
  margin-bottom 0 !important

.base-margin
  margin 24px 0

.base-margin--smaller
  margin 16px 0

.baseMarginTop
  margin-top 24px

.base-margin--bottom
  margin-bottom 24px

.base-margin-small
  margin 16px 0

.base-margin-small--bottom
  margin-bottom 16px

.base-padding
  padding 24px 0

.base-padding--right
  padding-right 24px
