
  .container
  position relative
  color red


  .form-group
    margin-bottom 20px

  .control-label
    font-size 14px
    display inline-block
    padding-bottom 8px
    color #4a4a4a

  .form-control
    width 100%
    padding 10px
    box-shadow none
    border 1px solid #dddddd
    border-radius 4px
    background-color #fff
    max-height 1000px

  .form-control-error
    display inline-block
    color #B71C1C
    font-size 14px
    padding-top 4px

  .container
    position relative

  .textArea
    resize vertical
    line-height 1.5
